[submodule "AuthC"]
	path = AuthC
	url = https://github.com/AlvaroTorcato/AuthC
[submodule "AuthQ"]
	path = AuthQ
	url = https://github.com/AlvaroTorcato/AuthQ
[submodule "ReviewC"]
	path = ReviewC
	url = https://github.com/AlvaroTorcato/ReviewC
[submodule "ReviewsQ"]
	path = ReviewsQ
	url = https://github.com/AlvaroTorcato/ReviewsQ
[submodule "VoteC"]
	path = VoteC
	url = https://github.com/AlvaroTorcato/VoteC
[submodule "VoteQ"]
	path = VoteQ
	url = https://github.com/AlvaroTorcato/VoteQ
[submodule "Snapshot"]
	path = Snapshot
	url = https://github.com/AlvaroTorcato/Snapshot
[submodule "ProductsC"]
	path = ProductsC
	url = https://github.com/AlvaroTorcato/ProductsC
[submodule "ProductsQ"]
	path = ProductsQ
	url = https://github.com/AlvaroTorcato/ProductsQ
